@font-face {
    font-family: stockholm;
    src: url("Stockholm.ttf");
}
html, body {
    color: black;
    background-color: white;
    background-image: url("bg.jpg");
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1, .title {
    font-family: stockholm;
    text-align: center;
    font-size: 245%;
    text-shadow: 0 0.1em 1em tan;
    margin: 0.2em 0 0 0;
}
.title {
    position:absolute;
    top: 0;
    left: 64px;
}
.key {
    font-size: 2vw;
    margin-left: 64px;
    padding: 0.2em 0;
}
h2 {
    font-family: stockholm;
    text-align: center;
    font-size: 180%;
    margin-top: 1em;
    text-shadow: 0 0.1em 1em tan;
}
a {
    letter-spacing: 0.1em;
    transition: background 0.2s, color 0.2s, text-shadow 0.2s;
    color: saddlebrown;
}
a:hover {
    color: #532;
    text-shadow: 0.5px 0 0 #532, -0.5px 0 0 #532;
}
p, .paragraph {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background: rgba(255,255,255,0.75);
    box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,0.25);
}
details {
}
summary:active {
    transform: none;
}
summary {
    display: inline-block;
    transition: transform 0.1s;
    padding: 0.2em;
    list-style: none;
    font-size: 200%;
    cursor: pointer;
    transform: rotate(-90deg);
}
ul {
    border-top: thin solid saddlebrown;
    border-bottom: thin solid saddlebrown;
    background: wheat;
    margin: 0;
    padding: 0.5em 1em;
    list-style: none;
    line-height: 2em;
}
.header, .footer {
    user-select: none;
    left: 0;
    width: 100%;
    background: tan;
    margin: 0;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
}
.header {
    color: black;
    top: 0;
    background-image: url("icon.png");
    background-repeat: no-repeat;
    background-position: 99% 0%;
    background-size: 3em 3em;
}
.footer {
    position: fixed;
    bottom: 0;
    padding: 0.5em;
}
.header img {
    height: 3em;
}
.floater {
    float: right;
    padding-right: 1em;
}

figure {
    margin: 0 1em 0 0;
    float: left;
    max-width: 50vh;
	border: solid tan;
    border-radius: 0.5em;
	text-align: center;
    background: tan
}
figure img {
	width: 100%;
    border-radius: 0.4em;
}
figure a {
	text-decoration: none;
}
figcaption {
    color: black;
    text-align: center;
	transition: color 0.2s;
}
.clear {
    clear: both;
}

@media screen and (min-width: 400px) {
    .key {
        font-size: 12pt;
    }
    p, .paragraph {
        margin: 2em;
        padding: 1em;
    }
    li {
        display: inline-block;
        margin: 0 1em 0 0;
    }
    li + li::before {
        content: "";
    }
}
